.solution {
  margin: 2em auto;
  font-family: "Raleway", sans-serif;
  width: 100vw;
  max-width: 1020px;
}

.solution > h1 {
  margin: 1.5em auto 0;
  text-align: center;
  color: #292f45;
  font-weight: 600;
  letter-spacing: 1px;
}

.solution__heading {
  display: flex;
  justify-content: space-around;
  max-width: 280px;
  margin: 1.2em auto;
  font-weight: 600;
}

.solution__heading > h3 {
  color: #292f45;
}
.solution__heading > p {
  color: #ea2329;
}

.solution__cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.solution__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 18em;
  max-width: 300px;
  width: 22em;
  padding: 1.5em;
  margin: 1em;
  box-shadow: rgba(215, 215, 215, 0.8) 0px 3px 6em;
  border-radius: 15px;
}

.solution__card:not(:nth-child(2)){
  justify-content: space-evenly;
}

.solution__card:not(:nth-child(2)) p{
  margin-bottom: 3em;
}

.solution__card > div {
  display: flex;
}

.solution__card > div > .MuiSvgIcon-root {
  color: rgb(234, 111, 102);
  font-size: 2em;
  margin: 0.2em;
}

.solution__card > div > h3 {
  margin: auto 0.2em;
  font-size: 1.1em;
  font-weight: 600;
  color: #292f45;
}
.solution__card > p {
  margin-top: 1em;
  color: #252e25;
  font-size: 1.1em;
  font-family: "Roboto", sans-serif;
}

.solution__seepricing-btn {
  display: flex;
  justify-content: center;
  margin-top: 1.2em;
}

.solution__seepricing-btn > button {
  width: 15em;
  height: 3.5em;
  padding: 0.7em 1.5em;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #ea2329;
  color: white;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

.solution__seepricing-btn > button:hover {
  background-color: #292f45;
  transition: all 0.5s ease;
  outline: none;
}
