.heading__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25em;
  margin-top: 4em;
  width: 100vw;
  position: relative;
  background: url("../../../img/titleBg.jpg");
  color: #fff;
}

.heading {
  display: inline;
  font-size: 3em;
  text-align: center;
}

.title__desc {
  padding: 1em;
  color: #fff;
  font-weight: normal;
  text-align: center;
}

@media(max-width:375px) {
  .heading {
    padding-top: 1em;
  }
}

@media(min-width:768px) {
  .title__desc {
    font-size: 2em;
  }
}