.neyx__container {
  height: fit-content;
  width: 70vw;
  padding: 3em 2em;
  margin: 3em auto;
  position: relative;
  box-shadow: rgba(215, 215, 215, 0.8) 0px 3px 6em;
  border-radius: 15px;
  display: flex;
  font-family: "Raleway", sans-serif;
}

.neyx__container--left {
  width: fit-content;
  margin: auto;
}

.neyx__container--left > img {
  height: 22em;
  width: 20em;
  object-fit: cover;
}

.neyx__container--right {
  margin-left: 4em;
}

.neyx__container--right > h1 {
  display: flex;
  flex-direction: column;
  color: #252e39;
  font-size: 2.2em;
  font-weight: 700 !important;
}

.neyx__container--right > h1 span {
  padding-top: 0.3em;
}

.neyx__container--right > p {
  line-height: 1.5em;
  color: #252e39;
  margin: 2em 0;
  font-size: 1.1em;
}

.neyx__button {
  display: flex;
  justify-content: center;
  align-self: center;
  text-transform: initial;
  width: 15em;
  padding: 0.8em 1.5em;
  border: 0;
  background-color: #ea2329;
  color: white;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  box-shadow: rgba(206, 206, 206, 1) 0px 3px 1em;
}

.neyx__button:hover {
  background-color: #252e39;
  transition: all 0.5s ease;
}

@media (max-width: 1020px) {
  .neyx__container {
    width: 80vw;
  }
}

@media (max-width: 840px) {
  .neyx__container {
    width: 90vw;
  }
}

@media (max-width: 768px) {
  .neyx__container {
    flex-direction: column;
    padding: 1em;
  }
  .neyx__container--right {
    margin: auto 1em;
  }
  .neyx__container--right > h1 {
    font-size: 1.8em;
    margin-top: 1em;
  }
  .neyx__button {
    width: 18em;
    margin: auto;
    margin-bottom: 1em;
  }
}

@media (max-width: 420px) {
  .neyx__container {
    width: 100vw;
  }
}

@media (max-width: 375px) {
  .neyx__container--left > img {
    height: 22em;
    width: 100%;
    object-fit: cover;
  }

  .neyx__button {
    width: 12em;
  }
}
